

<%= search_form_for @q, url:  search_shop_names_search_path do |f| %>
  <%= f.label :name, "店名検索" %>
  <%= f.search_field :name_cont %>

  <%= f.submit "検索する", class:"btn btn-outline-success" %>
  <%= link_to "クリア", search_shop_names_search_path, class:"btn btn-outline-success" %>
<% end %>

<% if params[:q] %>
  <p>検索結果</p>
  <% if @shops == [] %>
　　検索結果はありません
  <% else %>
    <% @shops.each do |shop| %>
       <%= shop.name %>
       <%= link_to "日記一覧", diaries_path(shop_id: shop) %>
    <% end %>
  <% end %>
<% end %>
