<div class="container mt-4">
  <h2 class="text-center">抹茶日記を書く</h2>

 <div class="mt-4 mb-4">
   <div class="row">
     <div class="col-12 col-md-10 mx-auto">
       
       <div class="row">
          <div class="col-12 col-md-6 mx-auto text-center">  
            <% if @diary.errors.any? %>
              <ul style="list-style: none;">
                <% @diary.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
  

<%= form_with model: @diary, url: diaries_path do |f| %>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :shop_id, "店名" %>
      </div>
      <div class="col-md-9">
        <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :name), {prompt: ''}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :number_of_times, "来店回数" %>
      </div>
      <div class="col-md-9">
        <%= f.select :number_of_times,[
                                        ['1回', 1], ['2回', 2], ['3回', 3] , ['4回', 4], ['5回', 5],
                                        ['6回', 6], ['7回', 7], ['8回', 8] , ['9回', 9], ['10回', 10],
                                      ], {include_blank: true}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :"日付" %>
      </div>
      <div class="col-md-9">
        <%= f.select :date_year, ['2023','2022','2021','2020','2019','2018'] %>年
        <%= f.select :date_month, *[1..12] %>月
        <%= f.select :date_day, *[1..31] %>日
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :week, "曜日" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :week, Diary.weeks.key(0) %>
        <%= f.label :week, Diary.weeks_i18n[:weekday] %>
        <%= f.radio_button :week, Diary.weeks.key(1) %>
        <%= f.label :week, Diary.weeks_i18n[:weekend_holiday] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :time, "時間帯" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :time, Diary.times.key(0) %>
        <%= f.label :time, Diary.times_i18n[:morning] %>
        <%= f.radio_button :time, Diary.times.key(1) %>
        <%= f.label :time, Diary.times_i18n[:pm_12] %>
        <%= f.radio_button :time, Diary.times.key(2) %>
        <%= f.label :time, Diary.times_i18n[:pm_14] %>
        <%= f.radio_button :time, Diary.times.key(3) %>
        <%= f.label :time, Diary.times_i18n[:pm_16] %>
        <%= f.radio_button :time, Diary.times.key(4) %>
        <%= f.label :time, Diary.times_i18n[:pm_18] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :number_of_people, "人数" %>
      </div>
      <div class="col-md-9">
        <%= f.select :number_of_people,[
                                        ['1人', 1], ['2人', 2], ['3人', 3] , ['4人', 4], ['5人', 5],
                                        ['6人', 6], ['7人', 7], ['8人', 8] , ['9人', 9], ['10人', 10],
                                      ], {include_blank: true}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :how_to_use, "利用方法" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :how_to_use, Diary.how_to_uses.key(0) %>
        <%= f.label :how_to_use, Diary.how_to_uses_i18n[:for_here] %>
        <%= f.radio_button :how_to_use, Diary.how_to_uses.key(1) %>
        <%= f.label :how_to_use, Diary.how_to_uses_i18n[:to_go] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :waiting_time, "待ち時間" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :waiting_time, Diary.waiting_times.key(0) %>
        <%= f.label :waiting_time, Diary.waiting_times_i18n[:none_time] %>
        <%= f.radio_button :waiting_time, Diary.waiting_times.key(1) %>
        <%= f.label :waiting_time, Diary.waiting_times_i18n[:minutes_15] %>
        <%= f.radio_button :waiting_time, Diary.waiting_times.key(2) %>
        <%= f.label :waiting_time, Diary.waiting_times_i18n[:minutes_30] %>
        <%= f.radio_button :waiting_time, Diary.waiting_times.key(3) %>
        <%= f.label :waiting_time, Diary.waiting_times_i18n[:minutes_45] %>
        <%= f.radio_button :waiting_time, Diary.waiting_times.key(4) %>
        <%= f.label :waiting_time, Diary.waiting_times_i18n[:hour_1] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :genre_id, "スイーツ" %>
      </div>
      <div class="col-md-9">
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), {prompt: ''}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
  
   <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :price, "値段" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :price, Diary.prices.key(0) %>
        <%= f.label :price, Diary.prices_i18n[:yen_500] %>
        <%= f.radio_button :price, Diary.prices.key(1) %>
        <%= f.label :price, Diary.prices_i18n[:yen_1000] %>
        <%= f.radio_button :price, Diary.prices.key(2) %>
        <%= f.label :price, Diary.prices_i18n[:yen_1500] %>
        <%= f.radio_button :price, Diary.prices.key(3) %>
        <%= f.label :price, Diary.prices_i18n[:yen_2000] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :amount, "量" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :amount, Diary.amounts.key(0) %>
        <%= f.label :amount, Diary.amounts_i18n[:small] %>
        <%= f.radio_button :amount, Diary.amounts.key(1) %>
        <%= f.label :amount, Diary.amounts_i18n[:medium] %>
        <%= f.radio_button :amount, Diary.amounts.key(2) %>
        <%= f.label :amount, Diary.amounts_i18n[:large] %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :darkness, "抹茶の濃さ" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <div class="d-inline-block">
          <div class="post_form">
            <%= f.radio_button :darkness, 5 ,id: 'darkness_1'%>
            <label for="darkness_1">★</label>
        
            <%= f.radio_button :darkness, 4 ,id: 'darkness_2'%>
            <label for="darkness_2">★</label>
      
            <%= f.radio_button :darkness, 3 ,id: 'darkness_3'%>
            <label for="darkness_3">★</label>
      
            <%= f.radio_button :darkness, 2 ,id: 'darkness_4'%>
            <label for="darkness_4">★</label>
        
            <%= f.radio_button :darkness, 1 ,id: 'darkness_5'%>
            <label for="darkness_5">★</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :sweetness, "抹茶の甘さ" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <%= f.radio_button :sweetness, Diary.sweetnesses.key(0) %>
        <%= f.label :sweetness, Diary.sweetnesses_i18n[:not_sweet] %>
        <%= f.radio_button :sweetness, Diary.sweetnesses.key(1) %>
        <%= f.label :sweetness, Diary.sweetnesses_i18n[:just_right] %>
        <%= f.radio_button :sweetness, Diary.sweetnesses.key(2) %>
        <%= f.label :sweetness, Diary.sweetnesses_i18n[:sweet] %>
      </div>
    </div>
  </div>

  
 <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
         <%= f.label :comprehensive_evaluation, "総合評価" %>
      </div>
      <div class="col-md-9 d-flex justify-content-center justify-content-md-start align-items-center">
        <div class="d-inline-block">
          <div class="post_form">
            <%= f.radio_button :comprehensive_evaluation, 5 ,id: 'all_review_1'%>
            <label for="all_review_1">★</label>
        
            <%= f.radio_button :comprehensive_evaluation, 4 ,id: 'all_review_2'%>
            <label for="all_review_2">★</label>
      
            <%= f.radio_button :comprehensive_evaluation, 3 ,id: 'all_review_3'%>
            <label for="all_review_3">★</label>
      
            <%= f.radio_button :comprehensive_evaluation, 2 ,id: 'all_review_4'%>
            <label for="all_review_4">★</label>
        
            <%= f.radio_button :comprehensive_evaluation, 1 ,id: 'all_review_5'%>
            <label for="all_review_5">★</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :"商品画像" %>
      </div>
      <div class="col-md-9">
        <%= f.file_field :image, accept: "image/*" %>
  　　</div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <%= f.label :"自由コメント欄" %><br>
       </div>
      <div class="col-md-9">
        <%= f.text_area :free_writing, style: "width: 40%; height: 100px;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mx-auto text-center">
      <%= f.submit '日記を書く', class:"btn btn-primary" %>
    </div>
  </div> 
<% end %>         　　　