<h1>抹茶日記を書く</h1>
<%= form_with model: @diary, url: diaries_confirm_path do |f| %>
  <P>店名<%= f.text_field :address %></P>
  <P>来店回数<%= f.text_field :address %></P>
  <P>日付<%= f.text_field :address %></P>
  <P>曜日</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
    <%= f.radio_button :week, Diary.weeks.key(1) %>
    <%= f.label :week, Diary.weeks_i18n[:weekend_holiday] %>
  <P>時間帯</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>人数<%= f.text_field :address %></P>
  <P>利用方法</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>待ち時間</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>ジャンル<%= f.text_field :address %></P>
  <P>値段</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>量</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>抹茶の濃さ</P>
  <P>抹茶の甘さ</P>
    <%= f.radio_button :week, Diary.weeks.key(0) %>
    <%= f.label :week, Diary.weeks_i18n[:weekday] %>
  <P>総合評価</P>
  
  
  <P>商品画像</P>
  
  <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
<% end %>         　　　