<div class="container mt-5">
  <h2 class="">マイページ</h2>
    <div class="mt-4">
        <p><%= link_to "抹茶日記を書く", new_diary_path, class:"btn btn-outline-primary" %></p>
        <p><%= link_to "抹茶日記一覧", user_diaries_path(current_user.id), class:"btn btn-outline-primary" %></p>
        <p><%= link_to "会員登録情報", edit_user_path(current_user.id), class:"btn btn-outline-primary" %></p>
        <% unless current_user.email == 'guest@example.com' %>
          <p><%= link_to '退会する', users_unsubscribe_path, class:"btn btn-outline-primary" %></p>
        <% end %>
    </div>
</div> 
<div class="container mt-5">
  <h2 class="">みんなの抹茶日記新着</h2>
</div>

    <% @new_diaries.each do |diary| %>
    
        <div class="card w-50 mx-auto mt-4 shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <%= link_to diary_path(diary.id) do  %>
                            <%= image_tag diary.get_image, size: "5×5" %>
                        <% end %>
                    </div> 
                    <div class="col-5">
                        <%= diary.shop.name %></br>
                        <%= diary.genre.name %></br>
                        抹茶の濃さ
                        <% diary.darkness.times do %>
                            <span>★</span>
                        <% end %></br>
                        総合評価
                        <% diary.comprehensive_evaluation.times do %>
                            <span>★</span>
                        <% end %>
                        <%= link_to user_diaries_path(diary.user.id) do  %></br>
                            <%= diary.user.nickname %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>          
           
    <% end %>
    
     <div class="d-flex justify-content-center my-4">
      <%= paginate @new_diaries %>
    </div>
 